<div class="outer" id="main">
    <div class="flex-container">
        <div class="tab-pages">
            <div class="tab-bar" id="tab-bar">
                 <label type="button" class="tablinks"><span contenteditable="true">Event</span></button>
            </div>
            <div class="page-timeline" id="start">
                <form name="form" class="event">
                    <input type="text"  name="label" placeholder="Startup">
                    <input type="text"  name="parameter" placeholder="parameter 1">
                    <input type="text"  name="parameter2" placeholder="parameter 2">
                    <input type="text"  name="parameter3" placeholder="parameter 3">
                    <input type="number"  name="delay" placeholder="delay"> 
                    <select name="Value" class="parameter" name="d3arn">
            					<option selected disabled value="0">Select value</option>
            					<option value="1">1</option>
            					<option value="2">2</option>
            					<option value="3">3</option>
            				</select>
            		<button type="button" class="remove-row">-</button>		 	
                </form>
              </div>
        </div>
        <div class="context-container">
            <ul id="List">
              <li>Context panel</li>
              <li>TBD</li>
            </ul> 
        </div>
    </div>
    <div class="menu-bar">
        <button type="button" class="add-page">add page</button>
        <button type="button" id="add" class="add-row">add row</button>
        <button type="button" id="clear" class="clear-all">clear all</button>
        <button class="saver" >save</button>
        <input class="uploader" id="upload" type="file" value="" />
        <button type='button' class="delete-page">delete current page</button>	 	
    </div>
</div>

<div class="reference" hidden>
        <div class="page-timeline">
                <form name="form" class="event">
                    <input type="text"  name="label" placeholder="Startup">
                    <input type="text"  name="parameter" placeholder="parameter 1">
                    <input type="text"  name="parameter2" placeholder="parameter 2">
                    <input type="text"  name="parameter3" placeholder="parameter 3">
                    <input type="number"  name="delay" placeholder="delay"> 
                    <select name="Value" class="parameter" name="d3arn">
            					<option selected disabled value="0">Select value</option>
            					<option value="1">1</option>
            					<option value="91">2</option>
            					<option value="2">3</option>
            				</select>
            		<button type='button' class='remove-row'>-</button>		 	
                </form>
              </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>

var mainBody = document.getElementById("main");
var activeTab = 0;
var numTabs = 0;

$(".tablinks").eq(0).data("tabID", 0);
$(".tablinks").eq(0).addClass("active");


$(document).ready(function(){
   $( ".add-row" ).click(function(){
      var clone = $( ".reference" ).find(".event").first().clone();
      activePage = $(".outer").find(".page-timeline").eq(activeTab);
      activePage.append(clone);
   });
   
   $( ".outer" ).on("click", ".tablinks", function(){
       
       var pages = $(".outer").find(".page-timeline");
       pages.eq(activeTab).css("display", "none");
       $(".tablinks").eq(activeTab).removeClass("active");
       activeTab = $(this).data("tabID");
       $(this).addClass("active");
       pages.eq(activeTab).css("display", "flex");
       
   });
  
   $( ".outer" ).on("click", ".add-page", function(){
    numTabs ++;
    var tabs = $(".tablinks");
    var newTab = tabs.last().clone();
    newTab.children().html("Event");
    newTab.data("tabID", numTabs);
    newTab.insertAfter(tabs.last());
    newTab.addClass("active");
    tabs.eq(activeTab).removeClass("active");
    
    var pages = $(".outer").find(".page-timeline");
    pages.eq(activeTab).css("display", "none");
    var clone = $( ".reference" ).find(".page-timeline").first().clone();
    $(".tab-pages").append(clone);
    activeTab = numTabs;
   });
   
   
   $( ".outer" ).on("click", ".remove-row", function(){
      if ($(this).parent().siblings().length != 1){
          $(this).parent().remove();
      }
      
   });
   
   
   $( ".clear-all" ).click(function(){
      $(".outer").find(".page-timeline").eq(activeTab).find(".event").remove();
   });
   
   $( ".delete-page" ).click(function(){
        $(".outer").find(".page-timeline").eq(activeTab).remove();
        $(".tablinks").eq(activeTab).remove();
        $(".outer").find(".page-timeline").last().css("display", "flex");
        
        $(".tablinks").last().addClass("active");
        numTabs--;
        activeTab = numTabs;
        
        for (i=0; i < numTabs+1; i++){
            $(".tablinks").eq(i).data("tabID", i);
        }
   });
   
});

$(document).on('change', ".uploader", function(event) {
  event.preventDefault();
  var reader = new FileReader();
  reader.onload = function(event) {
    var jsonObj = JSON.parse(event.target.result);
    
    tabs = $(".tab-bar").find(".tablinks");
    numTabs = 0;
    for (var k in jsonObj){
        var newTab = tabs.last().clone();
        newTab.removeClass("active");
        newTab.children().html(k);
        newTab.data("tabID", numTabs);
        $(".tab-bar").append(newTab);
        numTabs++;
    }
    numTabs--;
    tabs.remove();
    $(".tablinks").first().addClass("active");
    activeTab = 0;
    
    $(".outer").find(".page-timeline").remove();
    for (var i in jsonObj){
        var newPage = $(".page-timeline").first().clone();
            newPage.find(".event").remove();
            for (var k in jsonObj[i]){
                var newEvent = $(".reference").find(".event").first().clone();
                for (j in jsonObj[i][k]){
                    p = j +"";
                    newEvent[0].elements[p].value=jsonObj[i][k][j];
                    newPage.append(newEvent);
                }
           
            }
             newPage.insertBefore(".page-mark");
             newPage.css("display", "none");
    }
    $(".page-timeline").first().css("display", "flex");
    
    
    document.getElementById("upload").value = null;
  }

  reader.readAsText(event.target.files[0]);
});

$(".saver").on('click', function (e) {
     e.preventDefault();
     
     var tabList =[];
     var data1 = ['test'];
     
     var tabs = $(".outer").find(".tablinks");
     var numTabs = tabs.length;
     
     data =[];
     forms = $("[name='form']");
     eventsNum = forms.length;
     for (i=0; i < eventsNum; i++){
         form = forms.eq(i);
         data.push(form.serializeObject());
     }
     events = {};
     
     for (i=0; i< numTabs; i++){
         var subEvents = [];
         
         forms = $(".page-timeline").eq(i).find("form");
         eventsNum = forms.length;
         for (j=0; j < eventsNum; j++){
             form = forms.eq(j);
             subEvents.push(form.serializeObject());
         }
         
         events[tabs.eq(i).children().html()] = subEvents ;
     }
       $.ajax({
           url : "/form",
           type : "POST",
           data : JSON.stringify(events),
           contentType: 'application/json; charset=utf-8',
           dataType: 'json',
       })
       .done(function(data){
           console.log("After " +data["word"]);
       });
 });
 
    
(function($,undefined){
  '$:nomunge'; // Used by YUI compressor.

  $.fn.serializeObject = function(){
    var obj = {};

    $.each( this.serializeArray(), function(i,o){
      var n = o.name,
        v = o.value;

        obj[n] = obj[n] === undefined ? v
          : $.isArray( obj[n] ) ? obj[n].concat( v )
          : [ obj[n], v ];
    });

    return obj;
  };

})(jQuery);



</script>


<style>
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

* {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
    font-family: Roboto;
}


span {
  background-color: transparent;
  outline-style:none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body{
    height:97%;
}

form{
    margin:0px;
    padding:0px;
}

.outer{
 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}


input[type=text] {
    padding:5px 15px; 
    background:#FFF; 
    border:1px solid #000;
    text-align: center;
    max-width: 150px;
    cursor:pointer;

}

select {
    padding:5px 15px; 
    background:#FFF; 
    border:1px solid #000;
    text-align: center;
    max-width: 150px;
    cursor:pointer;

}

input[type=number] {
    padding:5px 15px; 
    background:#FFF; 
    border: 1px solid #000;
    text-align: center;
    max-width: 150px;
    cursor:pointer;

}

.parameter {
    padding:5px 15px; 
    background:#FFF; 
    border: 1px solid #000;
    text-align: center;
    cursor:pointer;

}

.flex-container{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  width: 100%;
  height: 90%;
  background-color: #FFF;
}

.page-timeline{
  width: 100%;
  height: 100%;
  margin-left: 0px;
  text-align: center;
  background-color: #E6F3FF;
  overflow: auto;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.tab-bar{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: left;
    background-color: #FFF;

}
.tab-pages{
  width: 65%;
  height: 100%;
  display:flex;
  align-items: center;
  flex-direction: column;
}

.tablinks{
  -webkit-user-select: none;
  user-select: none;
  width: 80px;
  height: 30px;
  margin-right: 0px;
  margin-top: 0px;
  border: 1px solid #000;
  border-bottom: none;
  border-left: none;
  display:flex;
  justify-content: center;
  align-items: center;
  color: #646464;
  font-size: 14px;  
  background-color: #F6FBFF;

}

.tablinks.active{
    background-color: #E6F3FF;
    color: #000;
}

.event{
    width: 95%;
    height: 30px;
    background-color: #fff;
    border: 1px solid #000;
    margin-top: 5px;
    display: flex;
    text-align: center;
    flex-direction: row;
    overflow: auto;
}

.context-container{
  width: 25%;
  height: 100%;
  margin-left: 10px;
  text-align: center;
  background-color: #E6F3FF;
  
  display:flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-bar{
    width: 90%;
    height: 30px;
    background-color: #fff;
    border: 1px solid #000;
    margin-top: 5px;
    text-align: center;
    
}

.saver{
    margin-left: 40px;
}

.add-row{
    margin-left: 10px;
}
.uploader{
    margin-left: 10px;
}

.clear-all{
    margin-left: 10px;
}

.button{
  user-select: none;
  width: 50px;
  height: 20px;
  margin-left: 0px;
  margin-top: 10px;
  border: 1px solid #000;
  text-align: center;
  background-color: #FFF;

}




</style>
<style>
.event.over {
  border: 2px dashed #000;
}
</style>