<div class="outer"> Sort stuff
<div class="flex-container">
  <div class="inner-element" id="start">
    <div class="dragger" draggable="true" id="apple"> apple</div>
    <div class="dragger" draggable="true" id="banana"> banana</div>
    <div class="dragger" draggable="true" id="plum"> plum</div>
    <div class="dragger" draggable="true" id="orange"> orange</div>
    <div class="dragger" draggable="true" id="peach"> peach</div>
  </div>
  <div class="inner-element" id="trash"> Unused </div>
</div>
<form id="sortform" action="=/test" method="post" >
<button id="ha">submit</button>
</form>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>


var frm = $("#sortform");
   $('#ha').on('click', function (e) {
        e.preventDefault();
        var data1 = ['test'];
        div = document.getElementById("start");
        divkid = div.childNodes;
        //why are there twice as many child nodes as dragger elements?
        //pushes empty objects into the array
        for (i=0; i < divkid.length; i++){
            var text = divkid[i].innerHTML;
            if (text){
                data1.push(text);
                }
            }
          $.ajax({
              url : "/test",
              type : "POST",
              data : JSON.stringify(data1),
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
          })
          .done(function(data){
              console.log("After " +data["word"]);
          });
    });
    
function handleDragStart(e) {
  // this =  source node.
  this.style.opacity = '0.4';
  dragSrcEl = this;
  e.dataTransfer.effectAllowed = 'move';
  e.dataTransfer.setData("text", e.target.id);
}

function handleDrop(e) {
  // this =  target element
  if (e.stopPropagation) {
    e.stopPropagation(); 
  }
    var id = e.dataTransfer.getData("text");
    newElement = document.getElementById(id);
    ex = newElement.innerHTML;
    if (this.id == "trash" || this.id == "start"){
        e.target.appendChild(newElement);
        }
    else{
        dragSrcEl.innerHTML = this.innerHTML;
        this.innerHTML = ex;
        }

  return false;
}

function handleDragOver(e) {
  if (e.preventDefault) {
    e.preventDefault();
  }
  e.dataTransfer.dropEffect = 'move';  
  return false;
}

function handleDragEnter(e) {
  this.classList.add('over');
}

function handleDragLeave(e) {
  this.classList.remove('over');  
}

function handleDragEnd(e) {
  // this/e.target is the source node.
  this.style.opacity = '1';
  [].forEach.call(cols, function (col) {
    col.classList.remove('over');
  });
  [].forEach.call(collectors, function (collector) {
    collector.classList.remove('over');
  });
}

var cols = document.getElementsByClassName('dragger');
[].forEach.call(cols, function(col) {
  col.addEventListener('dragstart', handleDragStart, false);
  col.addEventListener('dragenter', handleDragEnter, false);
  col.addEventListener('dragleave', handleDragLeave, false);
  col.addEventListener('dragover', handleDragOver, false);
  col.addEventListener('dragend', handleDragEnd, false);
  col.addEventListener('drop', handleDrop, false);
});

var collectors = document.getElementsByClassName('inner-element');
[].forEach.call(collectors, function(collector) {
    collector.addEventListener('dragenter', handleDragEnter, false);
    collector.addEventListener('dragleave', handleDragLeave, false);
    collector.addEventListener('drop', handleDrop, false);
    collector.addEventListener('dragend', handleDragEnd, false);
    collector.addEventListener('dragover', handleDragOver, false);
});

</script>


<style>
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.outer{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  
  width: 400px;
  height: 400px;
  background-color: #FFF;
}


.flex-container{
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 400px;
  height: 300px;
  background-color: #FFF;
}

.inner-element{
  width: 100px;
  height: 300px;
  margin-left: 10px;
  text-align: center;
  background-color: #f1c40f;
  
  display:flex;
  
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dragger{
  width: 50px;
  height: 20px;
  margin-left: 0px;
  margin-top: 5px;
  text-align: center;
  background-color: #FFF;

}

.button{
  user-select: none;
  width: 50px;
  height: 20px;
  margin-left: 0px;
  margin-top: 10px;
  border: 1px solid #000;
  text-align: center;
  background-color: #FFF;

}

.trash{
  width: 80px;
  height: 200px;
  margin-left: 0px;
  margin-top: 5px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ff3399;

}

</style>
<style>
.dragger.over {
  border: 2px dashed #000;
}
.inner-element.over{
border: 2px dashed #000;
}
</style>